@tailwind base;
@tailwind components;
@tailwind utilities;

/* default values */
@layer base {
    html {
        @apply text-gray-800;

        &.dark {
            @apply text-white;
        }
    }
}

/* Custom console scrollbar styling*/
/* source: https://stackoverflow.com/a/38024073 */
.xterm .xterm-viewport {
    &::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .1);
        border-radius: 3px;

        &:hover {
            background: rgba(255, 255, 255, .2);
        }
    }
}